* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-dark-color: #016B61;
    --main-bg-blue: #70B2B2;
    --light-blue: #9ECFD4;
    --main-light-gray: #E5E9C5;
    --primary-dark: #243435;
}

body {
    padding: 10px;
    /* width: 90vw; */ 
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80,120,120);
}

main {
    display: flex;
    flex-direction: column;
}

#heading {
    text-align: center;
    margin-bottom: 20px;
}

#app {
    border: 3px solid var(--primary-dark);
    background-color: #016B61;
    border-radius: 15px;
    padding: 15px;
    /* width: 70%;
    height: 70%; */
}

#app #display {
    margin: 0.2rem;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid var(--primary-dark);
    background-color: var(--main-light-gray);
}

#app #subtotal {
    background-color: var(--main-light-gray);
    height: 1rem;
    line-height: normal;
    font-size: 1em;
    padding: 3px;

}

#app #main-display {
    background-color: var(--main-light-gray);
    text-align: right;
    line-height: 2rem;
    font-size: 2rem;
    padding: 5px;
}

#app #buttons {
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#app #buttons .btn-row {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

#app #buttons button {
    padding: 3px;
    /* width: 55px; */
    flex: 1 1 55px;
    aspect-ratio: 1;
    border: 3px solid var(--primary-dark);
    outline: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;

}

.span-two {
    height: 55px;
    
}

#footer {
    padding: 15px;
    margin: 15px 5px 15px 5px;
    flex: 1 1 220px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

#footer p {
    font-size: larger;
    font-weight: 500;
}

#footer a {
    text-decoration: none;
    cursor: pointer;
}